body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    min-width: 500px;
  }

  .table-wrapper {
    background-color: rgb(23,23,23);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1.5rem;
  }
  
  table {
    border-spacing: 0 10px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 20px;
    text-align: left;
  }

  thead tr {
    color: rgb(115, 115, 115);
    font-size: 12px;
  }

  thead tr th {
    padding-bottom: 0;
  }

  tbody tr {
    background-color: rgba(38,38,38,0.2);
    border-radius: 0.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(202,202,202);
  }

  tbody tr:hover {
    background-color: rgba(38,38,38,1);
  }
  
  tbody td:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  tbody td:nth-child(2) {
    overflow-wrap: anywhere;
  }

  tbody td:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  tbody tr td.vote-yes {
    color: rgb(0, 219, 188);
  }

  tbody tr td.vote-no {
    color: rgb(247, 124, 54);
  }
  
  h1 {
    font-size: 3.75rem;
    margin: 1.5rem 3rem;
    text-align: left;
  }
  
  a {
    color: #66d9ef;
    text-decoration: none;
  }
  
  a:hover {
    color: #fff;
  }
  
  .meta-refresh {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #666;
  }

  .footer {
    position: relative;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  .footer img {
    width: 200px;
    vertical-align: middle;
    margin: 0 5px;
  }